@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,400;1,700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

.whole-sec {
  width: 100%;
  max-height: 100vh;
  margin: 0 auto;
  max-width: 100vw;
}

nav {
  padding: 10px 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 1vw 8vw;
  box-shadow: 2px 2px 10px rgb(0, 0, 0, 0.15);
  width: 1920px;
  text-align: center;
  color: #040430;
  height: 117px;
}

.logo {
  /* width: 140px; */
  width: 174px;
  height: 82px;
  top: 17px;
  left: 238px;
  gap: 0px;
  opacity: 0px;

}

nav .navigation ul {
  display: flex;
  gap: 4em;
  text-align: center;
  justify-content: space-between;

  font-family: Open Sans;
  font-size: 16px;
  font-weight: 600;
  line-height: 21.79px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;

  
  
}

nav .navigation ul li {
  list-style: none;
  margin-left: 30px;
  margin-top: 1rem;

}

nav .navigation ul li a {
  text-decoration: none;
  color: #040430;
  font-size: 16px;
  font-family: "Open-Sans", sans-serif;
}


.navigation .join-button {
  width: 210px;
  height: 50px;
  top: 33px;
  left: 1455px;
  gap: 0px;
  border-radius: 40px;
  opacity: 0px;
  color: #FFFFFF;
  border: none;
  align-items: center;
  margin: 0;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0.1em;
  
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  background-color: #972724;

}

/* nav li button {
  color: white;
  background-color: #972724;
  border: none;
  border-radius: 50px;
  padding: 5px; */
  



.hero {
  padding: 1vw 8vw;
  margin-top: 5rem;
  /* width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  gap: 7em;
   */
  
}

.container {
  min-height: 100vh;
  /* max-width: 1200px;  */
  display: flex;
  margin: auto;
  display: grid; 
  grid-template-columns: repeat(2, 1fr); 
  gap: 9em;
} 

.container .headings .photos {
  width: 50%;
}

/* .headings {
  width: 60%;
  height: 42rem;
} */

/* .photos {
  width: 57rem;
  height: 53rem;
} */

.photos img {
  width: 320px;
  height: 24rem;
}

.yellow-lady {
  width: 320px;
  height: 605px;
  top: 365px;
  left: 975px;
  gap: 0px;
  border-radius: 100px;
  opacity: 0px;

}

.sprout {
  color: #972724;
  width: 600px;
  height: 22px;
  top: 287px;
  left: 257px;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 16px;

}

.main-heading {
  width: 686px;
  height: 395px;
  top: 309px;
  left: 241px;

  font-family: Open Sans;
  font-size: 96px;
  font-weight: 700;
  line-height: 96.69px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  width: 50px;
  margin-bottom: 45px;
  display: inline-block;
}

.headings {
  width: 686px;
  height: 605px;
}

.heading-span {
  font-family: Open Sans;
  font-size: 96px;
  font-weight: 700;
  line-height: 96.69px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #A41F22;
   
}

.description {
  color: #7A7A7A;
  font-family: "DM Sans";
  font-size: 19.2px;
  font-weight: 400;
  line-height: 30px;
}

.line-space {
  padding-top: 18px;
}

.description {
  margin-bottom: 15px;
}

a {
  text-decoration: none;
}

a.start-btn {
  width: 210px;
  height: 50px;
  top: 922px;
  left: 257px;
  gap: 0px;
  border-radius: 40px;
  opacity: 0px;
  background-color: #972724;  
  padding: 15px 29px;

  
  font-family: Poppins;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0.1em;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #FFFFFF;

}


.photos img {
  width: 330px;
  height: 350px;
}

.mission-vision {
  background-color: #040430;
  width: 1920px;
  height: 501px;
  text-align: center;
  position: relative;
}

.mission2 {
  padding: 1vw 8vw;
  
}


.small-title {
  top: 1163px;
  left: 855px;
  text-align: center;
  
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 21.79px;
  letter-spacing: 0.1em;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #972724;
  margin-left: 50px;
}

.mission2 h2 {
font-family: "Open Sans", sans-serif;
font-size: 48px;
font-weight: 700;
line-height: 65.37px;
text-align: center;
text-underline-position: from-font;
text-decoration-skip-ink: none;
color: #FFFFFF;

}

.mission2 p {
font-family: DM Sans;
font-size: 19.2px;
font-weight: 400;
line-height: 30px;
text-align: center;
text-underline-position: from-font;
text-decoration-skip-ink: none;
color: #F7F7F7;
width: 930px;
margin-left: 400px;

}

.vision-mission {
  width: 100%;
  display: flex;
  gap: 2rem;
  transform: translate(0, -50%);
  padding: 1vw 8vw;
  align-items: center;
  
}

.vision-mission .vision {
  width: 690px;
  height: 352px;
  top: 1436px;
  left: 255px;
  gap: 0px;
  border-radius: 15px;
  opacity: 0px;
  background-color: #FFFFFF;
  box-shadow: 0px 5px 17.5px 0px #00000040;
  padding: 5em;

}

.vision-mission .vision h4 {
  width: 170px;
  height: 50px;
  top: 1526px;
  left: 328px;
  gap: 0px;
  border-radius: 5px;
  opacity: 0px;
  background-color: #040430;
  color: #FFFFFF;
  text-align: center;
  padding: 7px;
  
  font-family: Poppins;
  font-size: 22.4px;
  font-weight: 600;
  line-height: 33.6px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;

}

.vision-mission .vision p {
  width: 527px;
  height: 120px;
  top: 1594px;
  left: 328px;
  gap: 0px;
  opacity: 0px;

    
  font-family: DM Sans;
  font-size: 19.2px;
  font-weight: 400;
  line-height: 30px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;

}

.vision-mission .mission {
  width: 690px;
  height: 352px;
  top: 1436px;
  left: 255px;
  gap: 0px;
  border-radius: 15px;
  opacity: 0px;
  background-color: #FFFFFF;
  box-shadow: 0px 5px 17.5px 0px #00000040;
  padding: 5em;

}

.vision-mission .mission h4 {
  width: 170px;
  height: 50px;
  top: 1526px;
  left: 1048px;
  gap: 0px;
  border-radius: 5px;
  opacity: 0px;
  background-color: #972724;
  color: #FFFFFF;
  padding: 7px;

  
  font-family: Poppins;
  font-size: 22.4px;
  font-weight: 600;
  line-height: 33.6px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;

  
}

.vision-mission .mission p {
  width: 579px;
  height: 150px;
  top: 1594px;
  left: 1048px;
  gap: 0px;
  opacity: 0px;

  
  font-family: DM Sans;
  font-size: 19.2px;
  font-weight: 400;
  line-height: 30px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #040430;
}

.section-3 {
  padding: 1vw 8vw;
  width: 1920px;
  margin-top: 20px;
}
.courses {
font-family: "Open Sans", sans-serif;
font-size: 16px;
font-weight: 700;
line-height: 21.79px;
letter-spacing: 0.1em;
text-align: center;
text-underline-position: from-font;
text-decoration-skip-ink: none;
color: #972724;
margin-bottom: 20px;

}

.section-3 h2 {
font-family: Open Sans;
font-size: 48px;
font-weight: 700;
line-height: 65.37px;
text-align: center;
text-underline-position: from-font;
text-decoration-skip-ink: none;
color: #040430;
width: 1120px;
margin-left: 320px;
}

.certified {
font-family: Open Sans;
font-size: 32px;
font-weight: 700;
line-height: 43.58px;
text-align: center;
text-underline-position: from-font;
text-decoration-skip-ink: none;
color: #972724;
margin-top: 25px;

}

.main-courses {
 /*  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 1rem;
  margin-top: 50px; */
  display: flex;
  gap: 20px;
  flex: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}


.box {
  border: 2px dashed #9747FF ;
  border-radius: 15px;
  display: block;
  width: 28rem;
  height: 27rem;
  /* margin: 2rem; */
  padding-bottom: 0;
  margin: 0;
  
  
  
  
}

.inner-box {
  margin: 0.9rem;
  

}


.com-stud {
  width: 8rem;
  display: flex;
  gap: 8px;
}

.com-image {
  width: 1.2rem;
  height: 1.2rem;
  
}

.medal-image  {
  width: 25rem;
  height: 12rem;
  padding: 0.5em 0;
  border: 1px solid white;
  border-radius: 20px;
  margin-bottom: 2rem;
}

.found-lev {
  color: #972724;
  font-family: Poppins;
  font-size: 14px;
  width: 19rem;
  height: 1.3rem;
}

.cpa {
  font-family: Poppins;
  font-size: 28px;
  font-weight: 600;
  width: 19rem;
  height: 2.6rem;
  color: #972724;
}

.join-btn {
  width: 25rem;
  height: 2.8rem;
  border-radius: 50px;
  background-color: #972724;
  color: #FFFFFF;
  border: none;
  margin: 0;
  font-family: Poppins;

}

.section-4 {
  background-color: #040430;
  width: 1920px;
  height: 312px;
  margin-bottom: 20px;
  align-items: center;
  margin-top: 20px;
  padding: 1vw 8vw;
  
}

.section-4 img {
  width: 100px;
  margin-right: 30px;
  
}

span {
  color: #fff;
  
}

.addition {
  display: flex;
  justify-content: space-between;
  margin: 20px;
  padding-top: 80px;
  align-items: center;
}

.addition .addition-2 {
  width: 230px;
  display: flex;
  align-items: center;

}

.section-5 {
  display: flex;
  gap: 7em;
  padding: 1vw 8vw;

}

.section-5 img {
  width: 450px;
  height: 681px;

  
  border-radius: 8px 0px 0px 0px;
  object-fit: cover;

}

.section-5 .left {
  width: 690px;
  height: 800px;
  top: 3698px;
  left: 255px;
  gap: 0px;


}

.section-5 .right {
  width: 690px;
  height: 800px;


}

.section-5 .right h6 {
  width: 344px;

  font-family: Open Sans;
  font-size: 16px;
  font-weight: 700;
  line-height: 21.79px;
  letter-spacing: 0.1em;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #972724;

  margin-bottom: 20px;
}

.section-5 .right h3 {
  width: 690px;
  height: 130px;
    
  font-family: "Open Sans", sans-serif;
  font-size: 48px;
  font-weight: 700;
  line-height: 65.37px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #040430;
  margin-bottom: 15px;
}

.section-5 .right span {
  width: 690px;
  height: 21px;
  
  

  font-family: "DM Sans",sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20.83px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #7A7A7A;
}


.section-5 .right ul {
  margin-top: 60px;
  list-style-type: none;
  /* list-style-image: ; */

}

.section-5 .right li {
  line-height: 2em;
  color: #040430;
  border:  2px dashed;
  margin: 30px;
  padding: 5px 25px;
  margin-left: 0;
  

  font-family: Poppins;
  font-size: 22.4px;
  font-weight: 600;
  line-height: 33.6px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;

}

.section-5 .right li:nth-child(1) {
  border-color: #9747FF;
}
.section-5 .right li:nth-child(2) {
  border-color: #417CD4;
}
.section-5 .right li:nth-child(3) {
  border-color: #EC732F;
}
.section-5 .right li:nth-child(4) {
  border-color: #ED4883;
}

.section-6 {
  background-color: #040430;
  width: 1920px;
  height: 528px;
  text-align: center;
  position: relative;
}

.section-6 h3 {
  
  font-family: Open Sans;
  font-size: 48px;
  /* text-align: left; */
  font-weight: 700;
  line-height: 65.37px;
  
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #FFFFFF;
  padding: 1vw 8vw;


}

.section-6 p {
  font-family: DM Sans;
  font-size: 32px;
  font-weight: 400;
  line-height: 41.66px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #FFFFFF;
  width: 1690px;
  height: 70px;
  /* margin-left: 270px; */
  margin-top: 10px;
  padding: 1vw 8vw;
}

.testimonials {
  width: 100%;
  padding: 1vw 8vw;
  display: flex;
  gap: 2rem;
  justify-content: space-evenly;
  transform: translate(0, -50%);
}

.testimonials .stud-testimonial1 {
  width: 570px;
  height: 505px;
  top: 4865px;
  left: 60px;
  gap: 0px;
  border-radius: 15px;
  opacity: 0px;
  border-radius: 15px;
  border: 2px dashed #ED4883;
  background-color: #FFFFFF;
  padding: 4em;

}

.testimonials .stud-testimonial1 h6 {
  width: 289px;
  height: 22px;
  top: 4977px;
  left: 127px;
  gap: 0px;
  opacity: 0px;
  padding-bottom: 3em;

  
  font-family: Open Sans;
  font-size: 16px;
  font-weight: 700;
  line-height: 21.79px;
  letter-spacing: 0.1em;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #ED4883;

}

.testimonials .stud-testimonial1 p {
  width: 467px;
  height: 217px;
  top: 5024px;
  left: 120px;
  gap: 0px;
  opacity: 0px;

  font-family: DM Sans;
  font-size: 24px;
  font-style: italic;
  font-weight: 600;
  line-height: 31.25px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #7A7A7A;


}

.testimonials .stud-testimonial1 span {
  width: 127px;
  height: 40px;
  top: 5272px;
  left: 290px;
  gap: 0px;
  opacity: 0px;

  font-family: Rancho;
  font-size: 32px;
  font-weight: 400;
  line-height: 39.75px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #040430;

}

.testimonials .stud-testimonial2 {
  width: 570px;
  height: 505px;
  top: 4865px;
  left: 60px;
  gap: 0px;
  border-radius: 15px;
  opacity: 0px;
  border-radius: 15px;
  border: 2px dashed #ED4883;
  background-color: #FFFFFF;
  padding: 4em;
}

.testimonials .stud-testimonial2 h6 {
  width: 289px;
  height: 22px;
  top: 4977px;
  left: 127px;
  gap: 0px;
  opacity: 0px;
  padding-bottom: 3em;

  
  font-family: Open Sans;
  font-size: 16px;
  font-weight: 700;
  line-height: 21.79px;
  letter-spacing: 0.1em;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #ED4883;
}

.testimonials .stud-testimonial2 p {
  width: 467px;
  height: 217px;
  top: 5024px;
  left: 120px;
  gap: 0px;
  opacity: 0px;

  font-family: DM Sans;
  font-size: 24px;
  font-style: italic;
  font-weight: 600;
  line-height: 31.25px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #7A7A7A;
}


.testimonials .stud-testimonial2 span {
  width: 127px;
  height: 40px;
  top: 5272px;
  left: 290px;
  gap: 0px;
  opacity: 0px;

  font-family: Rancho;
  font-size: 32px;
  font-weight: 400;
  line-height: 39.75px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #040430;
}

.testimonials .stud-testimonial3 {
  width: 550px;
  height: 505px;
  top: 4865px;
  left: 60px;
  gap: 0px;
  border-radius: 15px;
  opacity: 0px;
  border-radius: 15px;
  border: 2px dashed #ED4883;
  background-color: #FFFFFF;
  padding: 4em; 

}

.testimonials .stud-testimonial3 h6 {
  width: 289px;
  height: 22px;
  top: 4977px;
  left: 127px;
  gap: 0px;
  opacity: 0px;
  padding-bottom: 3em;

  
  font-family: Open Sans;
  font-size: 16px;
  font-weight: 700;
  line-height: 21.79px;
  letter-spacing: 0.1em;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #ED4883;
}

.testimonials .stud-testimonial3 p {
  width: 467px;
  height: 217px;
  top: 5024px;
  left: 120px;
  gap: 0px;
  opacity: 0px;

  font-family: DM Sans;
  font-size: 24px;
  font-style: italic;
  font-weight: 600;
  line-height: 31.25px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #7A7A7A;
}

.testimonials .stud-testimonial3 span {
  width: 127px;
  height: 40px;
  top: 5272px;
  left: 290px;
  gap: 0px;
  opacity: 0px;

  font-family: Rancho;
  font-size: 32px;
  font-weight: 400;
  line-height: 39.75px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #040430;
}


.section-7 {
  padding: 1vw 8vw;
  margin-top: 1rem;
} 

.section-7 .form-sec {
  display: flex;
  gap: 7em;
}

.section-7 .form-sec .form-left {
  border: 3px dashed #9747FF;
  border-radius: 15px;
  width: 570px;
  height: 638px;
  top: 5493px;
  left: 255px;
  padding: 40px 20px 1px 20px;
  

}

.section-7 .form-sec .form-left h4 {
  width: 390px;
  height: 68px;
  top: 5553px;
  left: 345px;
  gap: 0px;
  opacity: 0px;
  text-align: center;
  margin-left: 3em;

  
  font-family: Poppins;
  font-size: 22.4px;
  font-weight: 600;
  line-height: 33.6px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #040430;

}

.section-7 .form-sec .form-right {
  width: 630px;

}

.section-7 .form-sec .form-right h6 {
  width: 210px;
  height: 22px;
  top: 5668px;
  left: 959px;
  gap: 0px;
  opacity: 0px;
  color:  #972724;

  
  font-family: Open Sans;
  font-size: 16px;
  font-weight: 700;
  line-height: 21.79px;
  letter-spacing: 0.1em;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  margin-top: 170px;


}

.section-7 .form-sec .form-right h3 {
  width: 570px;
  height: 65px;
  top: 5710px;
  left: 959px;
  
  font-family: Open Sans;
  font-size: 48px;
  font-weight: 700;
  line-height: 65.37px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  margin-top: 15px;
  margin-bottom: 18px;
  
}

.section-7 .form-sec .form-right label {
  width: 48px;
  height: 30px;
  top: 5809px;
  left: 959px;
  gap: 0px;
  opacity: 0px;

  
  font-family: DM Sans;
  font-size: 19.2px;
  font-weight: 400;
  line-height: 30px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #972724;

}

#email {
  width: 450px;
  height: 50px;
  top: 5839px;
  left: 959px;
  gap: 0px;
  border-radius: 10px 0px 0px 10px;
  opacity: 0px;
  background-color: #ebe1fe66;
  border: none;

}

#sub-btn {
  width: 180px;
  height: 50px;
  top: 5839px;
  left: 1409px;
  gap: 0px;
  border-radius: 0px 10px 10px 0px;
  opacity: 0px;


/*   width: 151px;
  height: 24px;
  top: 5852px;
  left: 1423px;
  gap: 0px;
  opacity: 0px;
 */
  
  font-family: Poppins;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0.1em;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #FFFFFF;
  background-color: #972724;
  border: none;
  padding: 9px;

}

.actual-form .name-label  {
  width: 52px;
  height: 30px;
  top: 5641px;
  left: 283px;
  gap: 0px;
  opacity: 0px;

  
  font-family: DM Sans;
  font-size: 19.2px;
  font-weight: 400;
  line-height: 30px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #040430;

}

#name-1 {
  width: 513px;
  height: 50px;
  top: 5671px;
  left: 283px;
  gap: 0px;
  border-radius: 10px 0px 0px 0px;
  opacity: 0px;
  background-color: #E5D8FD52;
  border: none;
  margin-bottom: 7px;

}

.email-label {
  width: 48px;
  height: 30px;
  top: 5736px;
  left: 283px;
  gap: 0px;
  opacity: 0px;

 
  font-family: DM Sans;
  font-size: 19.2px;
  font-weight: 400;
  line-height: 30px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #040430;

}

#email-2 {
  width: 513px;
  height: 50px;
  top: 5766px;
  left: 283px;
  gap: 0px;
  border-radius: 10px 0px 0px 0px;
  opacity: 0px;

  background-color: #E5D8FD52;
  border: none;

}

.message-label {
  width: 232px;
  height: 30px;
  top: 5831px;
  left: 283px;
  gap: 0px;
  opacity: 0px;
  
  
  font-family: DM Sans;
  font-size: 19.2px;
  font-weight: 400;
  line-height: 30px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #040430;

}

#message {
  width: 513px;
  height: 200px;
  top: 5861px;
  left: 283px;
  gap: 0px;
  border-radius: 10px 0px 0px 0px;
  opacity: 0px;

  background-color: #E5D8FD52;
  border: none;
}

.actual-form button {
  width: 241px;
  height: 50px;
  top: 6081px;
  left: 283px;
  gap: 0px;
  border-radius: 40px;
  opacity: 0px;

  background-color: #972724;
  color: white;
  border: none;
  
  font-family: Poppins;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0.1em;
  
  text-underline-position: from-font;
  text-decoration-skip-ink: none;

  margin-top: 20px;

}

footer {
  width: 1920px;
  height: 500px;
  top: 6259px;
  left: -1px;
  gap: 0px;
  border: 1px;
  opacity: 0px;
  background-color: #FFFFFF;
  padding: 1vw 8vw;
  box-shadow: 2px 2px 10px rgb(0, 0, 0, 0.15);
  margin-top: 2rem;
  padding-top: 3em;

}

.footer-class {
  display: flex;
  gap: 6rem;
  justify-content: space-around;
  flex-direction: row;
  column-gap: 15em;
  /* border-bottom: 1px solid #7A7A7A;
  */
  
}

.logo-2 {
  width: 302px;
  height: 142px;
  top: 6340px;
  left: 193px;
  gap: 0px;
  opacity: 0px;
  margin-right: 10em;

}

.footer-class1 h4 {
  width: 210px;
  height: 34px;
  top: 6317px;
  left: 734px;
  gap: 0px;
  opacity: 0px;

    
  font-family: Poppins;
  font-size: 22.4px;
  font-weight: 600;
  line-height: 33.6px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  

}

.footer-class1 {
/*   margin-left: 10em; */
}

.footer-class2 {
 /*  margin-left: 0; */
}


.footer-class1 li {
  width: 210px;
  height: 23px;
  top: 6484px;
  left: 734px;
  gap: 0px;
  opacity: 0px;
  color: #7A7A7A;

}

.footer-class2 h4 {
  width: 210px;
  height: 34px;
  top: 6317px;
  left: 734px;
  gap: 0px;
  opacity: 0px;

    
  font-family: Poppins;
  font-size: 22.4px;
  font-weight: 600;
  line-height: 33.6px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  

}


.footer-class2 li {
  width: 210px;
  height: 23px;
  top: 6484px;
  left: 734px;
  gap: 0px;
  opacity: 0px;
  color: #7A7A7A;

}

.footer-class3 {
  width: 1920px;
  height: 510px;
  top: 6259px;
  left: -1px;
  gap: 0px;
  opacity: 0px;
  

}